@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<!-- The Privacy.cshtml file is a simple HTML file that displays a title and a paragraph of text. -->